{% extends "layout.twig" %} {% block content %}
<h1>Admin Panel</h1>
<p>Welcome {{ user.name }}</p>
<ul>
    <li>
        <a href="{{'admin/posts' | url }}">Manages Blog Post</a>
    </li>
    <li>
        <a href="{{'admin/users' | url }}">Manages Users</a>
    </li>
    <li>
        <a href="{{'auth/logout' | url }}">Logout</a>
    </li>
</ul>

{% endblock %}