{% extends "layout.twig" %} {% block content %}
<h1>New Post</h1>

{% if errors %} {% include('partials/errors.twig') %} {% endif %} {% if result %}
<div class="alert alert-success"> Post saved </div>
{% endif %}

<a class="btn btn-secondary" href="{{'admin/posts' | url}}">Back</a>
<br>
<br>
<form method="post">
    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input class="form-control" type="text" name="title" id="inputTitle">
    </div>
    <div class="form-group">
        <label for="inputImg">Imagen</label>
        <input class="form-control" type="text" name="img" id="inputImg">
    </div>
    <textarea class="form-control" name="content" id="inputContent" rows="5"></textarea>
    <br>
    <input class="btn btn-primary" type="submit" value="Save">

</form>


{% endblock %}